title=Pipes in Angular JS 2.0
date=2016-03-05
type=post
tags=JavaScript, Filter, Pipes, Angular, AngularJS
status=published
~~~~~~
<p>
This is an introduction to Pipes in AngularJS 2. Please read on if you want to know more on Pipes(Angular2) and Filters(Angular1.x).
This blog contains examples on Pipes and Filters done in ES6. 
</p>
<!--more-->

<h3> What is the Pipe?</h3>
<ul>
<li>Pipe (fluid conveyance), a hollow cylinder following certain dimension rules</li>
<li>Anonymous pipe and named pipe, a one-way communication channel used for inter-process communication</li>
<li>Vertical bar, sometimes called <code>pipe</code>, the ASCII character <code>|</code></li>
<li>You can connect two commands together so that the output from one program becomes the input of the next program. Two or more commands connected in this way form a pipe.</li>
</ul>

<p>Yes, We are talking about last one from above. In computer programming, especially in UNIX operating systems, a pipe is a technique for passing information from one program process to another. Unlike other forms of interprocess communication (IPC), a pipe is one-way communication only. Basically, a pipe passes a parameter such as the output of one process to another process which accepts it as input. The system temporarily holds the piped information until it is read by the receiving process.</p>
<code>program1 output >> program2 input</code>

<h4>The grep Command in UNIX</h4>
<p>The simplest use of grep is to look for a pattern consisting of a single word. It can be used in a pipe so that only those lines of the input files containing a given string are sent to the standard output. If you don't give <code>grep</code> a filename to read, it reads its standard input; that's the way all filter programs work.</p>

<pre class="prettyprint">
<code>
$ls -l | grep "Aug"
-rw-rw-rw-   1 samy  doc     11008 Aug  6 14:10 ch02
-rw-rw-rw-   1 samy  doc      8515 Aug  6 15:30 ch07
-rw-rw-r--   1 john  doc      2488 Aug 15 10:51 intro
-rw-rw-r--   1 mira  doc      1605 Aug 23 07:35 macros
</code>
</pre>

<h3> What is the Filter?</h3>
<p>Now, we know what is Pipe and how it works in UNIX. This Pipe is formerly known as filters in AngularJS 1.x. In Angular 1 we had filter which helped format, sort or transform how data was displayed in our templates. Filters can be used with a binding expression or a directive. In Angular 2 we have a very similar feature but renamed to Pipes. This rename was to better align of what the feature does. Coming from the Unix background we <code>|</code> pipe together commands. So in Angular we use the same <code>|</code> pipe character to format our data.</p>
<p>Angular 2 has many new concepts and some of the same concepts from Angular 1.x. Many of the filters from Angular 1.x carry over to pipes in Angular 2.0, but we also get some new ones. Angular 1.x and Angular 2 have an equal number of filters to pipes, but there isn't direct crossover. </p>
The following table shows a comparison:

<table width="50%" align="center">
<thead>
<tr>
<th> Filter/Pipe Name </th>
<th style="text-align:center;"> Angular 1.x </th>
<th style="text-align:center;"> Angular 2 </th>
</tr>
</thead>
<tbody>
<tr>
<td> currency         </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> date             </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> uppercase        </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> json             </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> limitTo          </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;">           </td>
</tr>
<tr>
<td> lowercase        </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> number           </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;"> ✓    </td>
</tr>
<tr>
<td> orderBy          </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;">           </td>
</tr>
<tr>
<td> filter           </td>
<td style="text-align:center;"> ✓    </td>
<td style="text-align:center;">           </td>
</tr>
<tr>
<td> async            </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> decimal          </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> percent          </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> slice            </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> replace          </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> I18nSelect       </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
<tr>
<td> I18nPlural       </td>
<td style="text-align:center;">             </td>
<td style="text-align:center;"> ✓  </td>
</tr>
</tbody>
</table>

<h4>Formatting Data with Filters in AngularJS 1.x</h4>
<p>Filters allow you to declare how to transform data for display to the user within an interpolation in your template. The syntax for using filters is:</p>

<pre class="prettyprint">
<code>
{{ expression | filterName : parameter1 : ...parameterN }}
</code>
</pre>

<p>where expression is any Angular expression, filterName is the name of the filter you want to use, and the parameters to the filter are separated by colons. The parameters themselves can be any valid Angular expression.<br/>
Angular comes with several filters, like following,</p>
<ul>
<li>lowercase - Formats all characters to lowercase</li>
<li>uppercase - Formats all characters to uppercase</li>
<li>number - Formats a number as text. Includes comma as thousands separator and the number of decimal places can be specified</li>
<li>currency - Formats a number as a currency. <code>$</code> is default. Custom currency and decimal places can be specified</li>
<li>date - Formats date to a string based on the requested formatcurrency</li>
</ul>
Following is an example of currency filter :

<pre class="prettyprint">
<code>
{{12.9 | currency}}
This bit of code will display the following:
$12.90
</code>
</pre>

<p>We put this declaration in the view (rather than in the controller or model) because the dollar sign in front of the number is only important to humans, and not to the logic we use to process the number.</p>
<p>Filters can also be chained with additional pipe symbols in the binding. For example, we can format the previous example for no digits after the decimal by adding the number filter, which takes the number of decimals to round to as a parameter. So:</p>

<pre class="prettyprint">
<code>
{{12.9 | number:0 | currency}}
displays:
$13.00
</code>
</pre>

<h4>Sorting Data with Filters in AngularJS 1.x</h4>
The orderBy filter allows us to sort an array. By default, strings are sorted alphabetically, and numbers are sorted numerically. The syntax for using orderBy filter is:</p>

<pre class="prettyprint">
<code>
{{ orderBy_expression | orderBy : expression : reverse}}
</code>
</pre>

<p>The expression used to determine the order. The expression can be of type String or Function or Array. The array items can be both strings and functions. The reverse	is optional. To sort in ascending order, set reverse to false. To sort in descending order, set reverse to true. You can also use <code>+</code> and <code>-</code> to sort in ascending and descending order respectively. </p>

Following is an example of orderBy filter :

<pre class="prettyprint">
<code>
ng-repeat="student in students | orderBy:'scholorship':false"
			OR
ng-repeat="student in students | orderBy:'+scholorship'"
This bit of code will sort list of student in scholorship's ascending order.
</code>
</pre>

<h4>Custom Filters The Angular 1.x way</h4>
<p>You’re not limited to the bundled filters, and it is simple to write your own. If we wanted to create a filter that title-cased strings for our headings, for example, we could do so as follows:</p>

<pre class="prettyprint">
<code>
var homeModule = angular.module('HomeModule', []);
homeModule.filter('titleCase', function() {
  var titleCaseFilter = function(input) {
    var words = input.split(' ');
    for (var i = 0; i < words.length; i++) {
      words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
    }
    return words.join(' ');
  };
  return titleCaseFilter;
});
</code>
</pre>

With a template like this:

<pre class="prettyprint">
<code>
&lt;body ng-app='HomeModule' ng-controller="HomeController">
  &lt;h1>{{pageHeading | titleCase}}&lt;/h1>
&lt;/body>
</code>
</pre>

and inserting the pageHeading as a model variable via a controller:

<pre class="prettyprint">
<code>
function HomeController($scope) {
  $scope.pageHeading = 'behold the majesty of your page title';
}
</code>
</pre>

we would see something resembling like following.

<pre class="prettyprint">
<code>
<h3 align="center">Behold The Majesty Of Your Page Title</h3>
</code>
</pre>

Source code of Angular 1.X  filters is available <a href="">here</a>.

<h3>Why pipes?</h3>
<p>AngularJS 1.x has a filter called <code>filter</code>, which allows us to do sort, format and transform. However, the duplication of the names often leads to confusion. That's another reason the core team renamed the filter component to <code>pipe</code>. Pipes don’t give you any new feature. In angular 2 you can use logics in templates too. You also can execute a function in the template to get its returned value. But pipes is a beutiful way to handle these things in templates. It makes your code more clean and structured.<br/>
Angular 2 comes with several pipes, like following,</p>

<ul>
<li>CurrencyPipe: This pipe is used for formatting currency data. As an argument, it accepts the abbreviation of the currency type (that is, "EUR", "USD", and so on).</li>
<li>DatePipe: This pipe is used for the transformation of dates.<li>
<li>DecimalPipe: This pipe is used for transformation of decimal numbers. The argument it accepts is of the following form: "{minIntegerDigits}.{minFractionDigits}-{maxFractionDigits}".</li>
<li>JsonPipe: This transforms a JavaScript object into a JSON string.</li>
<li>LowerCasePipe: This transforms a string to lowercase.</li>
<li>UpperCasePipe: This transforms a string to uppercase.</li>
<li>PercentPipe: This transforms a number into a percentage.</li>
<li>SlicePipe: This returns a slice of an array. The pipe accepts the start and the end indexes of the slice.</li>
<li>AsyncPipe: This is a stateful pipe that accepts an observable or a promise.</li>
</ul>

<h4>Formatting Data with Pipes in AngularJS 2.0</h4>
<p>The responsibility for formatting data in AngularJS 1.x was assigned to filters. Another example for a data formatting requirement is when we use collections of items. For instance, if we have a list of items, we may want to filter it based on a predicate (a boolean function); in a list of numbers, we may want to display only prime numbers, Pipe or Filter is hero here.</p>

<p>The motivation behind the new name is the syntax used for pipes and filters:</p>

<pre class="prettyprint">
<code>
{{expression | decimal | currency}}
</code>
</pre>

<p>In the preceding example, we apply the pipes, decimal and currency, to the value returned by expression. The entire expression between the curly braces looks like Unix pipe syntax.</p>
<p>Lets look at a simple pipe built into Angular 2 the <code>date</code> pipe. The <code>date</code> pipe simply formats our date in our templates.</p>

<pre class="prettyprint">
<code>
{{date | date:'shortDate'}}
{{date | date:'longDate'}}
</code>
</pre>

The date Wed May 3 2016 22:01:58 GMT-0600 (Central Standard Time) would be formated to 5/3/2016 and May 3, 2016.

<h4>Custom Pipes The Angular 2.0 way</h4>
<p>The syntax for defining pipes is similar to the one used for the definition of directives and components. In order to create a new pipe, all we need to do is to provide a name for the pipe and define the data formatting logic. During runtime, once the Angular 2 expression interpreter finds out that a given expression includes a call of a pipe, it will retrieve it out of the pipes collection allocated within the component and invoke it with the appropriate arguments.</p>
<p>The following example illustrates how we can define a simple pipe called <code>lowercase1</code></i>, which transforms the given string, passed as argument to its lowercase representation:</p>

<pre class="prettyprint">
<code>
var LowercasePipe1 = ng.core.
  Pipe({
    name: 'lowercase1'
  })
  .Class({
    constructor: function () {},
    transform: function (value) {
      if (!value) return value;
      if (typeof value === 'string') {
        throw new Error('Invalid pipe value', value);
      }
	return value.toLowerCase();
    }
  });
</code>
</pre>

<p>Now let's demonstrate how we can use the <code>lowercase1</code> pipe inside a component:</p>

<pre class="prettyprint">
<code>
var App = ng.core.Component({
  selector: 'app',
  pipes: [LowercasePipe1],
  template: '&lt;h1>{{"SAMPLE" | lowercase1}}&lt;/h1>'
})
.Class({
  constructor: function () {}
});
</code>
</pre>

We can use the <code>App</code> component with the following markup:

<pre class="prettyprint">
<code>
&lt;app>&lt;/app>
</code>
</pre>
   
Source code of Angular 2 pipes is available <a href="">here</a>.

<h3>Stateful and Stateless Pipes</h3>
<p>There are two categories of pipes, stateless and stateful. Stateless pipes are pure and Stateful pipes are impure. Before going ahead with stateless and stateful, Let us go through pure and impure.</p>

<h4>Pure and Impure Pipes</h4>
<p>There are two categories of pipes: pure and impure. Pipes are pure by default. Every pipe we've seen so far has been pure. We make a pipe impure by setting its pure flag to false. By setting pure property in pipe, we can declare whether we want the pipe it implements the logic for to be either stateful or stateless.</p>
Following is syntax for pure property :

<pre class="prettyprint">
<code>
Pipe({
    name: 'pipeName',
    pure: false
  })
</code>
</pre>

<p>The pure property is important, because in case the pipe is pure, the change detection can be optimized. Angular looks for changes to data-bound values through a change detection process that runs after every JavaScript event: every keystroke, mouse move, timer tick, and server response. This could be expensive. Angular strives to lower the cost whenever possible and appropriate. Angular picks a simpler, faster change detection algorithm when we use a pipe.</p>

<p><b>Pure pipes :</b><br/>
Angular executes a pure pipe only when it detects a pure change to the input value. A pure change is either a change to a primitive input value (String, Number, Boolean, Symbol) or a changed object reference (Date, Array, Function, Object). Angular ignores changes within (composite) objects. It won't call a pure pipe if we change an input month, add to an input array, or update an input object property. This may seem restrictive but is is also fast. An object reference check is fast — much faster than a deep check for differences — so Angular can quickly determine if it can skip both the pipe execution and a view update. For this reason, we prefer a pure pipe if we can live with the change detection strategy. When we can't, we may turn to the impure pipe.</p>

<p><b>Impure pipes :</b><br/>
Angular executes an impure pipe during every component change detection cycle. An impure pipe will be called a lot, as often as every keystroke or mouse-move. With that concern in mind, we must implement an impure pipe with great care. An expensive, long-running pipe could destroy the user experience.</p>

<h4>Stateless pipe</h4>
<p>Stateless pipes are pure types that flow input data through without remembering anything or causing detectable side-effects. Most pipes are stateless. There was one common property between all the pipes mentioned earlier—all of them return exactly the same result each time we apply them to the same value and pass them the same set of arguments. Such pipes that hold the referentially transparency property are called pure pipes. The <code>DatePipe</code> we used and the <code>LowercasePipe1</code> pipe we created both are examples of a stateless pipe.</p>

Source code of stateless pipe's example is available <a href="">here</a>.

<h4>Stateful pipe</h4>
<p>Stateful pipes are those which can manage the state of the data they transform. A pipe that creates an HTTP request, stores the response and displays the output, is a stateful pipe. Stateful Pipes should be used cautiously, as we know it is impure pipe.</p>
<p>The Angular <code>AsyncPipe</code> is an interesting example of an impure pipe as well as stateful. The <code>AsyncPipe</code> accepts a Promise or Observable as input and subscribes to the input automatically, eventually returning the emitted value(s). The <code>AsyncPipe</code> maintains a subscription to the input and its returned values depend on that subscription.</p>

Source code of stateful pipe's example is available <a href="http://www.waynehong.com/javascript/angular-2-custom-pipe-example-javascript/">here</a>.

<h3>Pipe vs filter</h3>
<p>Angular 1.X had a concept of filters. Pipes are very much similar to that but it has some significant advantages, the pipes.<br/>
Filters used to act like helpers, very similar to functions where you pass the input and other parameters and it returns you the value; but pipe works as a operator. The concept is, you have an input and you can modify the input applying multiple pipes in it. This not only simplifies the nested pipe logic, but also gave you a beautiful and clean syntax for your templates. Secondly, in case of async operations, you need to set things manually in case of angular 1.X filters. But pipes are smart enough to handle async operations.</p>

<h3>References :</h3>
<ol>
<li>wikipedia.org wiki pages for Pipe</li>
<li>"AngularJS" Author Brad Green, Shyam Seshadri and Published by O’Reilly Media, Inc.</li>
<li>"Switching to Angular 2" Author Minko Gechev and Published by Packt Publishing Ltd.</li>
<li><a href="https://auth0.com/blog/2015/09/03/angular2-series-working-with-pipes/">Angular 2 Series - Part 1: Working with Pipes</a> by Ryan Chenkie</li>
<li><a href="http://voidcanvas.com/angular-2-pipes-filters/">
Angular 2 pipes in depth; with list of inbuilt pipes and examples</a> by Paul Shan</li>
</ol>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'farahnaj';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> 

